{% extends 'enroll/base.html' %}

{% block content %}
<!DOCTYPE html>
{% load static %}
<html>
<head>

<title>home page videos</title>
</head>
<body>
<div class='row'>
<div class='col-md-6'>
<p>youtube video face detection </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2vjAD-35LHE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class='col-md-6'>
<p>youtube video of my videobuddy tuts</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/E8Pb7cxKZfw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class='col-md-6'>
<p>youtube video of my pubg best game</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6aVhdhKoYjQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class='col-md-6'>
<p>system video</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/axlvxnNfsE0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>
</body>
</html>
{%endblock content %}