<html>
<head>
<style>
#logo{

}
body{
    background-color:#ebeff5;

}
#total-orders{
    background-color:#4cb4c7;
}

#orders-delivered{
    background-color:#7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
    
}

</style>
</head>
<body>
<br>
<div class='row'>
    <div class='col'>
        <div class='col-md'>
            <div class='card text center text white mb-3' id='total-orders'>
                <div class='card-header'>
                    <h6 class='card-title '>Total Orders</h6>
                </div>
                <div class='card-title'>
                    <h3 class ='card-title'></h3>
                </div>
            </div> 
        </div> 
    </div>   

    <div class='col'>
        <div class='col-md'>
            <div class='card text center text white mb-3' id='total-orders'>
                <div class='card-header'>
                    <h6 class='card-title '>Orders Delivered</h6>
                </div>
                <div class='card-title'>
                    <h3 class ='card-title'></h3>
                </div>
            </div> 
        </div> 
    </div>  

        <div class='col'>
        <div class='col-md'>
            <div class='card text center text white mb-3' id='total-orders'>
                <div class='card-header'>
                    <h6 class='card-title '>Orders Pending</h6>
                </div>
                <div class='card-title'>
                    <h3 class ='card-title'></h3>
                </div>
            </div> 
        </div> 
    </div> 
</div>         

</body>
</html>